<div style="background:gainsboro">
    <div class="card  text-black">
      <div class="card-img-overlay">
        <div class="container">
          <div class="row">
            <div class="col">
  
              <div class="container ">
                <table class="table table-bordered mt-2 table-hover " style="border-style: solid; border-width: 1px;">
                  <thead>
                    <tr class="text-center text-dark">
                      <th>id</th>
                      <th>name</th>
                      <th>category</th>
                      <th>company</th>
                      <th>quantity</th>
                      <th>price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of products" class="text-center text-info">
                      <td>{{product.id}}</td>
                      <td>{{product.name}}</td>
                      <td>{{product.category}}</td>
                      <td>{{product.company}}</td>
                      <td>{{product.quantity}}</td>
                      <td>{{product.price}}</td>
                      <td><button class="btn btn-danger" (click)="getproduct(product)"><i class="fas fa-trash-alt"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>